# {{ ansible_managed }}

# Base repository
deb http://rackspace.clouds.archive.ubuntu.com/ubuntu/ xenial main universe

# Security Updates
deb http://security.ubuntu.com/ubuntu xenial-security main universe
deb-src http://security.ubuntu.com/ubuntu xenial-security main universe

# OS Updates
deb http://rackspace.clouds.archive.ubuntu.com/ubuntu/ xenial-updates main universe
deb-src http://rackspace.clouds.archive.ubuntu.com/ubuntu/ xenial-updates main universe
