RPC QC Log at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}


================
ElasticSearch QC
================

ElasticSearch URL
-----------------
{{ esurl }}

ElasticSearch Indicies
----------------------
{{ es_indicies['content'].split('\n')[1:-1] }}
